body{
  background-image: url("./bpic2.jpeg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

#calculator {
  margin-top:10%;
  margin-left: 10%;
  width: 310px
}

.ui.input {
  width: 310px;
  height: 65px;
  padding: 5px;
  margin: 0px 0px;
}

#input1{
  text-align: right;
}

.ui.inverted.button {
  margin-left:0.5px;
  width: 69.0px;
  color: white;
  font-size: 18px;
  text-align: center;
  font-style: bold;
  cursor: pointer;
}

#equal {
  color: lightblue;
  font-size:18px;
  font-style:bold;
}

#footer{
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: gray;
  margin-bottom: 0;
  padding: 10px;
  text-align: right;
  clear: both;
  color: white;
}
